{{#section 'header'}}
{{/section}}

<div class="row">
   
    <div class="col-md-12">
        <a href="./country?action=new" style="width:100%" class="btn btn-success">Додати країну</a>   
</div>      
</div>   
<div class="row">
    <div class="col-md-12">
        <table class="table tablesorter" id="tourstable">
            <thead class="thead-inverse">
                <tr>
                    <th class="table_header">Id</th>
                    <th class="table_header">Назва Країни</th>
                    <th class="table_header">Столиця</th>
                    <th class="table_header">Опис</th>
                    <th class="table_header">&nbsp;</th>
                    <th class="table_header">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Країни</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="dlgCountrys">
            1
        </div>
        <div id="dlgCapital">
            2
        </div>
        <div id="dlgContent">
            3
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{#section 'scripts'}}
<script src="/vendor/jquery.tablesorter/dist/js/jquery.tablesorter.min.js"></script>
<script src="/javascripts/admin/countrys.js"></script>
{{/section}}
