<h1>Головна сторінка адміністрування</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="list-group">
            <a href="./edit?name=home" class="list-group-item list-group-item-action list-group-item-info">Редагувати сторінку HOME</a>
            <a href="./edit?name=about" class="list-group-item list-group-item-action list-group-item-info">Редагувати сторінку ABOUT</a>
            <a href="./tours" class="list-group-item list-group-item-action list-group-item-info">Редагування турів</a>
        </div>
    </div>
    <div class="col-sm-6">
        
    </div>
</div>
