<h1>Головна сторінка адміністрування</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="list-group">
            <a href="admin//pages" class="list-group-item list-group-item-action list-group-item-info">Редагування сторінок</a>
            <a href="admin//tours" class="list-group-item list-group-item-action list-group-item-info">Редагування турів</a>
            <a href="admin//lists" class="list-group-item list-group-item-action list-group-item-info">Редагування Списку</a>
            <a href="admin/countrys" class="list-group-item list-group-item-action list-group-item-info">Редагування списку країн</a>
        </div>
    </div>
    <div class="col-sm-6">
        
    </div>
</div>
