    <form class="form" role="form" method="post" action="post">
    <input type="hidden" name="hid" id="hid" value="">
    <div class="form-group">
        <label for="company" class="col-sm-2 form-control-label">Компанія</label>
        <input type="text" class="form-control" id="company" name="company" required="required"
        placeholder="Назва Компанії" value="">
    </div>

    <div class="form-group">
        <label for="representative" class="col-sm-2 form-control-label">Представник</label>
        <input type="text" class="form-control" id="representative" name="representative"  required="required"
        placeholder="Представник" value="">
    </div>

    <div class="form-group">
        <label for="adress" class="col-sm-2 form-control-label">Адреса</label>
        <input type="text" class="form-control" id="adress" name="adress"  required="required"
        placeholder="Адреса" value="">
    </div>

    <div class="form-group">
        <label for="valid" class="col-sm-2 form-control-label">Дійсно до</label>
        <input type="text" class="form-control" id="valid" name="valid"  required="required"
        placeholder="Період" value="">
    </div>


    <div class="form-group">        
        <button type="button" class="btn btn-primary" id="btnAdd">Зберегти</button>
        <a href="/admin/lists" class="btn btn-danger">Скасувати</a>
    </div>
    </form>
    {{#section 'scripts'}}
<script src="/javascripts/admin/list.js"></script>
 {{/section}}