<div class="jumbotron">
    <p class="red_text abc"> 
        {{title}}
        Put detail description about you and your company.222
    </p>
    <img src="http://lorempixel.com/400/200/sports" alt="sport">
    //дві кнопки
    //fadeIn / fadeOut
</div>