<style>
    #srcText {
        height: 40px;
        width: 100px;
    }
</style>
<div class="jumbotron">
    <p class="red_text abc">
        {{title}} Put detail description about you and your company.222
    </p>
    <img src="http://lorempixel.com/400/200/sports" alt="sport">

    <button id="btnIn" type="button" class="btn btn-primary">In</button>
    <button id="btnOut" type="button" class="btn btn-primary">Out</button>
</div>

<div class="row">
    <div class="col-sm-12">
        <input id="srcText" type="text" />
        <button id="btnSize" type="button" class="btn btn-primary">Size</button>
    </div>
</div>