<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-9">
<h1 id="zagolovokStranu">Страны, курорты</h1>
</div>
</div>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-9">
          
           <table class="table" id="countries">
    
            <thead class="thead-inverse">
                <tr>
                    <th>Страна</th>
                    <th ><select name="name" id="selectCountry">
	                <option value=" "></option>
                    </select>
                    </th>
                    <th>Курорт</th>
                    <th>
                       <select name="name" id="selectKurort" class="form_inp02">
	                     <option value=""></option>
                         </select>
                    </th>
                   
                </tr>
            </thead>
                 </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
<div class="col-sm-9">
	<table class="table" >
		<tr>
			<th>Лучшие страны сезона</th>
		</tr>
        <tr>
			<td>
<a href="https://www.poehalisnami.ua/countries/egipet" id="Egypt">
<img src="https://img.poehalisnami.ua/Data/cImg/CountryImage11.jpg" id="imgEgypt" width="100" height="100" align="left"></a>
<h3><a id="zagolovokEgypt" onclick="" href="https://www.poehalisnami.ua/countries/egipet">Египет</a></h3>
<p>Это солнце, лето и освежающий морской бриз круглый год, чистейшее Красное море и красивейшие коралловые рифы, великолепные отели и пляжи, нескончаемое количество развлечений, древние Пирамиды и величественный Сфинкс, прославленный Каир и лунные пейзажи Синайского полуострова, поездки по Нилу, прогулки по паркам-заповедникам, Хургада, Шарм-эль-Шейх и неповторимая восточная экзотика<br /></p>
		<a id="EgyptPodrobno" href="https://www.poehalisnami.ua/countries/egipet">Подробнее ></a>
        </td>
        </tr>
         <tr>
			<td>
                <a href="https://www.poehalisnami.ua/countries/turciya" id="turciya">
                <img src="https://img.poehalisnami.ua/Data/cImg/CountryImage36.jpg" id="imgTurciya" width="100" height="100" align="left"/>
<h3><a id="zagolovokTurciya" href="https://www.poehalisnami.ua/countries/turciya">Турция</a>
 </h3>
<p>Страна богатейшей истории, огромного количества исторических ценностей, реликвий и просто уникальных творений природы и человека: знаменитое Мертвое море, непревзойденный Стамбул, удивительный Памуккале и его целебные источники, фантастическая Каппадокия, славная Троя&hellip; И это не все, ведь Турция &ndash; это еще и прекрасные средиземноморские пляжи, которые балуют отдыхающих комфортом отелей, разнообразием развлечений и красотой природных ландшафтов.<br /></p>
<a id="TurciyaPodrobno"  href="https://www.poehalisnami.ua/countries/turciya">Подробнее</a>
 </td>
        </tr>
         <tr>
			<td>
                <a href="https://www.poehalisnami.ua/countries/tailand" id="Tailand">
		<img src="https://img.poehalisnami.ua/Data/cImg/CountryImage69.jpg" id="imgTailand" width="100" height="100" align="left"/>
	</a>
		<h3 >
			<a id="zagolovokTailand" href="https://www.poehalisnami.ua/countries/tailand">Таиланд (Тайланд)</a>
		</h3>
		<p>Путешествие в Таиланд &ndash; это встреча со сказочным королевством, вечным летом и теплым океаном, где можно забыть обо всех заботах. Таиланд примечателен сочетанием древностей и первозданных тропических красот с объектами современной цивилизации и западноевропейским комфортом. Вас ждет поистине райский отдых, ведь именно Таиланд &ndash; страна путешествий в сказочную мечту.</p>
		<a id="TailandPodrobno" href="https://www.poehalisnami.ua/countries/tailand">Подробнее</a>
 </td>
        </tr>
         <tr>
			<td>
<a href="https://www.poehalisnami.ua/countries/ukraine" id="Ukraine">
		<img src="https://img.poehalisnami.ua/Data/cImg/CountryImage37.jpg" id="imgUkraine" width="100" height="100" align="left"/>
	</a>
		<h3>
			<a id="zagolovokUkraine" href="https://www.poehalisnami.ua/countries/ukraine">Украина</a>
		</h3>
		<p>Очень интересный объект на туристической карте мира. Ведь здесь есть все: море и курорты Южного берега Крыма, горы и горнолыжные базы Карпат, древнейшие города Киев, Каменец-Подольский, Чернигов, Львов, Ужгород, Мукачево, Черновцы, Херсонес, Севастополь, Одесса... Гости нашего гостеприимного края могут выбрать любой вид отдыха: пляжный, горнолыжный, оздоровительный, детский, экстремальный, исторический, экскурсионный, зеленый...</p>
		<a id="podrobnoUkraine" href="https://www.poehalisnami.ua/countries/ukraine">Подробнее</a>
</td>
        </tr>
         <tr>
			<td>
<a href="https://www.poehalisnami.ua/countries/chekhiya" id="Chehiya" >
		<img src="https://img.poehalisnami.ua/Data/cImg/CountryImage42.jpg" id="imgChehiya" width="100" height="100" align="left"/>	</a>
		<h3>
			<a id="zagolovokChehiya" href="https://www.poehalisnami.ua/countries/chekhiya">Чехия</a>
		</h3>
		<p>Это Рим Севера, сердце Европы и самый драгоценный камень в каменной короне мира", &ndash; считал Гете и был абсолютно прав. Эта страна обладает невероятным магическим свойством очаровывать любого, кто хотя бы раз с ней соприкоснулся. Средневековые замки, романтичные, волшебные и великолепные; парк "Чешская Швейцария", впечатляющий своей первозданной красотой и величием; заповедник "Чешский рай", излюбленное место туристов и любителей активного отдыха; таинственные пещеры, красавица-Прага, Карловы Вары, кнедлики, пиво.</p>
		<a id="podrobnoChehiya" href="https://www.poehalisnami.ua/countries/chekhiya">Подробнее </a>
</td>
        </tr>
         <tr>
			<td>
<a href="https://www.poehalisnami.ua/countries/vengriya" id="Vengriya">
		<img src="https://img.poehalisnami.ua/Data/cImg/CountryImage57.jpg" id="imgVengriya" width="100" height="100" align="left"/></a>
		<h3><a id="zagolovokVengriya" href="https://www.poehalisnami.ua/countries/vengriya">Венгрия</a></h3>
		<p>Известна, прежде всего, своей столицей - Будапештом. Этот город относят к числу самых красивых городов мира. Гористая, правобережная часть столицы, Буда, ярко контрастирует с равнинным Пештом. Вторая визитная карточка Венгрии &ndash; многочисленные термальные купальни, в которых круглый год греются туристы уже несколько сотен лет. Самые известные из них: купальни Сечени и купальни Геллерт. И третья визитная крточка, вернее даже, набор визитных карточек Венгрии &ndash; это знаменитые города-музеи, города-крепости, бывшие королевские резиденции Эгер, Эстергом, Вышеград, Сэкешфехервар...</p>
		<a id="podrobnoVengriya" href="https://www.poehalisnami.ua/countries/vengriya">Подробнее </a>
</td>
        </tr>
         <tr>
			<td>
                <a href="https://www.poehalisnami.ua/countries/polsha" id="Poland">
		<img src="https://img.poehalisnami.ua/Data/cImg/CountryImage58.jpg" id="imgPoland" width="100" height="100" align="left"/>
	</a><h3 style="display: inline;">
			<a id="zagolovokPoland" href="https://www.poehalisnami.ua/countries/polsha">Польша</a>
		</h3>
		<p>Страна богатого исторического прошлого, благодаря чему сегодня на ее территории находится 8 памятников, включенных в Перечень мирового культурного наследия ЮНЕСКО. Это Варшавский Старый город, восстановленный из руин после второй мировой войны, Королевский Краков &ndash; самый большой в стране памятник истории и культуры, Соляные копи Велички &ndash; семиэтажный подземный город, город-крепость Замосць, замок крестоносцев в Мальборке, Освенцим-Бжезинка &ndash; самый большой гитлеровский концлагерь и Беловежский национальный заповедник.</p>
		<a id="podrobnoPoland" href="https://www.poehalisnami.ua/countries/polsha">Подробнее</a>
</td>
        </tr>

        </div>
        </div>