<style>
        h1 {
            font-size: 20px;
            font-family: Arial;
            font-weight: bold;
            color: #f26227;
            text-align: center;
        }
        
        h3 {
            font-weight: bold;
            font-size: 18px;
            color: #333399;
        }
        
        h4 {
            font-weight: bold;
            font-size: 16px;
            color: #333399;
        }
        
        a {
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            color: #ff6600;
        }
        
        a:hover {
            color: #ff6600;
        }
        
        .text_block {
            -webkit-box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.37);
            -moz-box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.37);
            box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.37);
        }
        
        .image {
            margin-right: 15px;
            height: 381px;
            width: 269px;
        }
        
        .main_text {
            padding-top: 10px;
            text-align: center;
        }
        
        ul {
            list-style: "-";
        }
</style>

<div class="container text_block">
        <h1>Трудоустройство и образование за рубежом</h1>
        <div class="row">
            <div class="col-4">
                <h1>Заявка на подбор тура</h1>
            </div>
            <div class="col-8">

                <div class="main_text">
                    <img src="../public/img/A1_plakat_6.jpg" class="image img-fluid rounded float-left" alt="image">
                    <p>
                        Компания "Поехали с нами", наряду с туризмом, предоставляет услугу <strong>"Трудоустройство за рубежом"</strong>. На данном этапе мы сотрудничаем с работодателями из Польши и имеем большую базу вакансий по этой стране. В дальнейшем
                        планируем сотрудничество и с другими странами.
                    </p>
                    <p style="margin: 0">Что мы предлагаем:</p>
                    <ul class="ul_list">
                        <li>Только легальное трудоустройство.</li>
                        <li>Высокий уровень заработной платы.</li>
                        <li>Достойные условия работы.</li>
                        <li>Предложения для квалифицированных специалистов и рабочих без квалификации. </li>
                    </ul>
                    <a href="http://zakordonom.work/" target="_blank">Перейти на сайт "Работайте с нами">></a>

                    <hr>
                    <h3>Откройте для себя и своих детей возможности по образованию за границей с помощью сети туристических агентств <span style="color: #ff6600">«Поехали с нами»!</span></h3>
                    <h4>Мы предлагаем обучение в болем, чем 15-ти странах!</h4>
                    <ul class="ul_list">
                        <li>языковые курсы для детей (особенно популярны программы с изусением язика и отдыхом на море на летних каникулах);</li>
                        <li>языковые курсы для взрослых;</li>
                        <li>среднее образование;</li>
                        <li>высшее образование.</li>
                    </ul>
                    <h3>ЛЕТНИЕ КАНИКУЛЫ 2016: ЛУЧШИЕ ПРОГРАММЫ ДЛЯ ВАШИХ ДЕТЕЙ</h3>
                    <strong>Рекомендуемые программы для ваших детей на летние каникулы:</strong>

                    <h3 style="margin-top: 15px">МАЛЬТА:</h3>
                    <p><strong>страна с лучшими сетевыми школами по изучению английского языка</strong></p>
                    <p><strong>ESE Malta Junior Club</strong> (2 недели с проживанием на базе 4* гостиницы, питанием, изучением английского и насыщенной программой досуга. Заезды – каждое воскресенье с 26 июня по 4 сентября 2016 г.)</p>
                    <h3>КИПР:</h3>
                    <p><strong>простая в оформлении электронная виза + отдых на море + изучение английского</strong></p>
                    <p><strong>ESCC Cyprus</strong> (2 недели в лагере в г. Лимассол с проживанием в Park Beach Hotel 3*(4-местные номера) с 3-х разовым питанием, изучением английского с носителями языка и активным досугом)</p>
                    <h3>ИСПАНИЯ:</h3>
                    <p><strong>языковые и футбольные лагеря!</strong></p>
                    <ul>
                        <li><strong>Enfocamps, Enforex</strong> (2 недели в лагере с изучением английского и испанского языков; проживание - в кампусе или в принимающих семьях; заезды с 3 июля до 13 августа).</li>
                        <li><strong>Real Madrid</strong> (2 недели в футбольном лагерне клуба Real Madrid c разговорной программой английского или испанского языков)</li>
                    </ul>
                    <h3>ЧЕХИЯ</h3>
                    <p><strong>MSM Academy</strong> (летняя языковая программа «Чешский + английский язык в Праге» длительностью 1 месяц (даты заездов – 1 июня – 30 июня, 1 июля – 30 июля, 1 августа – 30 августа).</p>
                    <h3>ПОЛЬША</h3>
                    <p><strong>Летний лагерь «Академия приключений» (Закопане)</strong> (2 недели с изучением польского языка, насыщенной программой досуга и экскурсиями)</p>
                    <h3>ВЕЛИКОБРИТАНИЯ</h3>
                    <ul>
                        <li><strong>Embassy CES</strong> (программы длительностью от 1 недели в проживанием в Лондоне и Кембридже)</li>
                        <li><strong>Skola ASKOT</strong> (программы длительностью от 1 недели с изучением английского, плаванием, футболом, занятиями танцами и музыкой, теннисом и футболом в графстве Беркшир, недалеко от места проведения королевских скачек
                            Роял Аскот)</li>
                    </ul>
                    <h3>США</h3>
                    <ul>
                        <li><strong>EF Language Schools</strong> (2 недели в Нью-Йорке или Санта-Барбаре)</li>
                        <li><strong>Reenert</strong> (2 недели в Майами с изучением английского и проживанием в Doubletree Hotel by Hilton)</li>
                    </ul>
                    <h3>ШВЕЙЦАРИЯ</h3>
                    <p><strong>Swiss Language Club - 1245 CHF</strong> за 1 неделю обучения в Швейцпрских Альпах</p>

                    <strong style="color: #333399">Всю детальную информацию Вы можете узнать у менеджеров сети "Поехали с нами"!</strong>

                </div>
            </div>
        </div>
    </div>