<h1>&nbsp;</h1>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-12">
                <img src='http://lorempixel.com/366/100/cats/1' alt='cat'/>
                <img src='http://lorempixel.com/366/100/cats/2' alt='cat'/>
                <img src='http://lorempixel.com/366/100/cats/3' alt='cat'/>
                
            </div>
        </div>
        <p>&nbsp;</p>
            <div class="container">
            <div class="row">  



        <div class="col-sm-3"></div>
                <div class="col-sm-9">
            <h1>Подарочные сертификаты</h1>
            <p>&nbsp;</p>
             </div>
             <div class="col-sm-3">
                 <div  class="form-group">
                     <label for="name">Введите страну:</label>
                   <p><select class="form-control" id="sel1">
        <option></option>  
        <option>Ukraine</option>
        <option>Poland</option>
        <option>USA</option>
        
      </select></p>
                        <p> <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Имя*:"></p>
                       <p> <input type="tel" name="tel" id="tel" class="form-control" placeholder="Телефон*:"></p>
                       <p><input type="email" class="form-control" id="email" placeholder="Email:"></p>
                       <p>&nbsp;</p>
                       <label for="name">отправить заявку в офис:</label>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="6">
 Днепр, ул .В.Мономаха 5,
  ТЦ "Арбат"
+38(056)375-76-74
+38(050)337-78-08
+38(067)520-76-16
                       </textarea>
                         </form>
               </div>           
             </div>

                 <div class="col-sm-3">  
                 <img src='http://lorempixel.com/250/500/cats/4' alt='cat'/>
                 </div>      
                 <div class="col-sm-6">
                     <h2>Подарочные сертификаты сети "Поехали с нами"</h2>                       
<p> Детям на свадьбу, родителям на день рождения или годовщину, подчиненным на праздник – не придумаешь лучшего подарка, чем путешествие. Но что же выбрать, чтобы угадать желания того, кому Вы хотите сделать подарок? Не гадайте! Мы нашли выход – подарочные сертификаты на фиксированную сумму на путешествие. Это позволит человеку прийти с сертификатом в офис «Поехали с нами» и выбрать именно то, что ему нужно!
</p>
 </div>

 <div class="col-sm-3"></div>
<div class="col-sm-9">
    <p>Для Вас мы предлагаем подарочные сертификаты "Поехали с нами" 4 номиналов:
1000, 2000, 5000 и 10000 грн
    </p>
        <img src='http://lorempixel.com/800/100/cats/1' alt=''/>
    <p>Если Вам нужен индивидуальный номинал или Вы хотите, чтобы сертификат был оформлен определенным образом, то специально для Вас мы индивидуально разработаем дизайн подарочного сертификата ;):
    </p>
    <img src='http://lorempixel.com/800/100/cats/5' alt=''/>
    <p>
        Приобрести сертификат, а также получить детальную информацию по всем интересующим Вас вопросам Вы сможете, обратившись в наши офисаы «Поехали с нами».
    </p>
    
</div> 
 </div>
<div class="row">
    <div class="col-sm-6"></div>
  <div class="col-sm-6">
        <button id="btnShow" class="btn btn-primary">Где купить</button>
        </div>
     <div class="col-sm-3"></div>
<div class="col-sm-9">
    <p>Мы будем рады помочь Вам в нелегком деле подбора подарка :)
<p><b> Правила использования подарочных сертификатов:</b></p>
<ul>
<li> Сертификат может быть использован только по адресу туристического агентства, в котором он был приобретен. Адрес агентства и срок действия сертификата указаны на развороте. После окончания срока действия сертификат считается недействительным.</li>
<li>Сертификат нужно предъявить перед бронированием тура. После оформления тура сертификат изымается.</li>
<li>Номинал сертификата указан на карте. Для оплаты тура можно использовать несколько сертификатов. Также для оплаты нескольких туров одновременно можно использовать один сертификат.</li>
<li>Если стоимость тура/туров превышает номинал сертификата, владелец сертификата оплачивает разницу в стоимости. Если стоимость ниже – разница не возвращается.</li>
<li>Денежный эквивалент сертификата не выплачивается.</li>
<li>Утерянный сертификат не восстанавливается.</li>
<li>Подарочный сертификат не может быть возвращен в офис и конвертирован в деньги.</li>
<li>Администрация офиса имеет право не принять подарочный сертификат в случае возникновения сомнений в его оригинальности или наличии повреждений, которые делают невозможным его использование.</li>
<li>Приобретение подарочного сертификата свидетельствует о согласии покупателя подарочного сертификата с этими правилами.</li>
<li>Компания «Поехали с нами» оставляет за собой право менять эти правила, разместив при этом информацию о таких изменениях на сайте poehalisnami.ua.</li>
<li>Детали узнавайте у сотрудников офисов компании «Поехали с нами», где был приобретен сертификат.</li>
</ul>
        </p>   
  </div>
  </div>
             <footer>
                 © 2017
</footer>