        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-12" id="bannrer">
                <img class="img-fluid" src='http://lorempixel.com/366/100/cats/1' alt='cat'/>
                <img class="img-fluid" src='http://lorempixel.com/366/100/cats/2' alt='cat'/>
                <img class="img-fluid" src='http://lorempixel.com/366/100/cats/3' alt='cat'/>
                
            </div>
        </div>
        <p>&nbsp;</p>
            
            <div class="row">  



        <div class="col-sm-3"></div>
                <div class="col-sm-9">
            <h1>Подарочные сертификаты</h1>
            <p>&nbsp;</p>
             </div>
             <div class="col-sm-3">
                 <form id="tour">
                 <div  class="form-group">
                     <label for="name">Введите страну:</label>
                   <p><select class="form-control" id="sel1">
        <option></option>  
        <option>Ukraine</option>
        <option>Poland</option>
        <option>USA</option>
        
      </select></p>
                        <p> <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Имя*:"></p>
                       <p> <input type="tel" name="tel" id="tel" class="form-control" placeholder="Телефон*:"></p>
                       <p><input type="email" class="form-control" id="email" placeholder="Email:"></p>
                       <p>&nbsp;</p>
                       <label for="name">отправить заявку в офис:</label>
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="6">
 Днепр, ул .В.Мономаха 5,
  ТЦ "Арбат"
+38(056)375-76-74
+38(050)337-78-08
+38(067)520-76-16
                       </textarea>
                         
               </div>   
                 </form>                  
             </div>

                 <div class="col-sm-3" >  
                 <img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/Плакатик.png" alt="Плакатик.png" width="256" height="426" />
                 </div>      
                 <div class="col-sm-6">
                     <h2>Подарочные сертификаты сети "Поехали с нами"</h2>                       
<p> Детям на свадьбу, родителям на день рождения или годовщину, подчиненным на праздник – не придумаешь лучшего подарка, чем путешествие. Но что же выбрать, чтобы угадать желания того, кому Вы хотите сделать подарок? Не гадайте! Мы нашли выход – подарочные сертификаты на фиксированную сумму на путешествие. Это позволит человеку прийти с сертификатом в офис «Поехали с нами» и выбрать именно то, что ему нужно!
</p>
 </div>

 <div class="col-sm-3"></div>
<div class="col-sm-9">
    <p>Для Вас мы предлагаем подарочные сертификаты "Поехали с нами" 4 номиналов:
1000, 2000, 5000 и 10000 грн
    </p>
       <img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/1 000_2.jpg" alt="1 000_2.jpg" width="160" height="94" />
       <img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/2 000_1.jpg" alt="2 000_1.jpg" width="160" height="92" />
       <img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/5 000_1.jpg" alt="5 000_1.jpg" width="160" height="87" />
       <img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/10 000_1.jpg" alt="10 000_1.jpg" width="160" height="91" />
    <p>Если Вам нужен индивидуальный номинал или Вы хотите, чтобы сертификат был оформлен определенным образом, то специально для Вас мы индивидуально разработаем дизайн подарочного сертификата ;):
    </p>
    <img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/Poexali s nami-1.jpg" alt="Poexali s nami-1.jpg" width="150" height="169"/>
<img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/Poexali s nami-2_1.jpg" alt="Poexali s nami-2_1.jpg" width="150" height="166" />
<img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/Poexali s nami-sertifikat_OAE-2_2.jpg" alt="Poexali s nami-sertifikat_OAE-2_2.jpg" width="150" height="164" />
<img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/Poexali s nami-sertifikat_TUR.jpg" alt="Poexali s nami-sertifikat_TUR.jpg" width="150" height="167" />
<img class="img-fluid" src="https://www.poehalisnami.ua/Site/ContentData/Img/СЕРТИФИКАТ_ДР_1.jpg" alt="СЕРТИФИКАТ_ДР_1.jpg" width="150" height="170" />

    <p>
        Приобрести сертификат, а также получить детальную информацию по всем интересующим Вас вопросам Вы сможете, обратившись в наши офисаы «Поехали с нами».
    </p>
    
</div> 
 </div>
<div class="row">
    <div class="col-sm-6"></div>
  <div class="col-sm-6">
        <button id="btnShow" class="btn btn-primary">Где купить</button>
        </div>
     <div class="col-sm-3"></div>
<div class="col-sm-9">
    <p>Мы будем рады помочь Вам в нелегком деле подбора подарка :)
<p><b> Правила использования подарочных сертификатов:</b></p>
<ul>
<li> Сертификат может быть использован только по адресу туристического агентства, в котором он был приобретен. Адрес агентства и срок действия сертификата указаны на развороте. После окончания срока действия сертификат считается недействительным.</li>
<li>Сертификат нужно предъявить перед бронированием тура. После оформления тура сертификат изымается.</li>
<li>Номинал сертификата указан на карте. Для оплаты тура можно использовать несколько сертификатов. Также для оплаты нескольких туров одновременно можно использовать один сертификат.</li>
<li>Если стоимость тура/туров превышает номинал сертификата, владелец сертификата оплачивает разницу в стоимости. Если стоимость ниже – разница не возвращается.</li>
<li>Денежный эквивалент сертификата не выплачивается.</li>
<li>Утерянный сертификат не восстанавливается.</li>
<li>Подарочный сертификат не может быть возвращен в офис и конвертирован в деньги.</li>
<li>Администрация офиса имеет право не принять подарочный сертификат в случае возникновения сомнений в его оригинальности или наличии повреждений, которые делают невозможным его использование.</li>
<li>Приобретение подарочного сертификата свидетельствует о согласии покупателя подарочного сертификата с этими правилами.</li>
<li>Компания «Поехали с нами» оставляет за собой право менять эти правила, разместив при этом информацию о таких изменениях на сайте poehalisnami.ua.</li>
<li>Детали узнавайте у сотрудников офисов компании «Поехали с нами», где был приобретен сертификат.</li>
</ul>
        </p>   
  </div>
  </div>
  <div class="row" id="footer_menu" >
<div class="col-sm-2">
      <ul class="list-unstyled">
         <li>
         <strong> Куда поехать</strong>
         </li>
            <li><a href="https://www.poehalisnami.ua/tour/">Поиск тура</a></li>   
            <li><a  href="https://www.poehalisnami.ua/goryashie-turi">Горящие туры</a></li>              
            <li><a href="https://www.poehalisnami.ua/hotels">Отели, гостиницы</a></li>                         
            <li><a href="https://www.poehalisnami.ua/countries">Страны, курорты</a></li>                
            <li><a  href="https://www.poehalisnami.ua/akcii">Акции</a></li>                            
            <li><a  href="https://www.poehalisnami.ua/service/order/">Авиабилеты</a></li>                            
            <li><a href="https://www.poehalisnami.ua/visasupport">Медицинский туризм</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/children">Детский отдых</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/bolgariya">Болгария</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/greciya">Греция</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/egipet">Египет</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/ispaniya">Испания</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/kipr">Кипр</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/turciya">Турция</a></li>                            
            <li><a href="https://www.poehalisnami.ua/tour/oae">Эмираты</a></li>                            
            <li><a href="https://www.poehalisnami.ua/office/dnepr">Где купить</a></li>          
                </ul>
         </div>
                           
  
<div class="col-sm-4">
      <ul class="list-unstyled">
         <li>
         <strong> Туристам</strong>
         </li>  
 <li><a href="https://www.poehalisnami.ua/tourist/insurance">Туристическое страхование</a></li>                      
 <li><a href="https://www.poehalisnami.ua/tourist/credit">Туры в рассрочку</a></li>                            
 <li><a href="https://www.poehalisnami.ua/tourist/autobus_tickets_online">Билеты на международные автобусы</a></li>                       
 <li><a href="https://www.poehalisnami.ua/tourist/employmenteducationabroad">Трудоустройство и образование за рубежом</a></li>                    
 <li><a  href="https://www.poehalisnami.ua/giftcards">Подарочные сертификаты</a></li>                           
 <li><a href="https://www.poehalisnami.ua/blog">Блог</a></li>                            
 <li><a href="https://www.poehalisnami.ua/tourist/virtualreality">Виртуальная реальность: выбери свой тур</a></li>
 </ul>
</div>


  <div class="col-sm-3">
     <ul class="list-unstyled">
         <li>
         <strong> Открыть агенство</strong>
         </li>  
<li><a href="https://www.poehalisnami.ua/open/mta/">Франчайзинг в туризме</a></li>                            
<li><a href="https://www.poehalisnami.ua/open/buy/presentation">Франчайзинговое  предложение</a></li>                            
<li><a href="https://www.poehalisnami.ua/open/buy/">Купить франшизу</a></li>

     </ul>
 </div>
 
 <div class="col-sm-3">
<ul class="list-unstyled">
         <li>
          <strong>О компании</strong>
         </li>  
         <li><a href="https://www.poehalisnami.ua/about/us">О нас</a></li>                            
         <li><a href="https://www.poehalisnami.ua/reviews">Отзывы о «Поехали с нами»</a></li>                            
         <li><a href="https://www.poehalisnami.ua/news">Новости компании</a></li>                            
         <li><a href="https://www.poehalisnami.ua/about/partners">Партнеры</a></li>                            
         <li><a href="https://www.poehalisnami.ua/about/reasons">9 причин поехать с нами</a></li>                            
         <li><a href="https://www.poehalisnami.ua/about/us/team">Наша команда</a></li>                            
         <li><a href="https://www.poehalisnami.ua/about/job">Работа у нас</a></li>                            
         <li><a href="https://www.poehalisnami.ua/open/courses/">Курсы менеджера по туризму</a></li>                            
         <li><a href="https://www.poehalisnami.ua/partnership">Сотрудничество</a></li>                            
                    </ul>


 </div>
</div>



             <footer>
                 © 2017
</footer>