<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

 <header>
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-12">
                <img src="http://fakeimg.pl/400x100?text=1&font=lobster" alt="lobster">
                <img src="http://fakeimg.pl/400x100?text=2&font=lobster" alt="lobster">
                <img src="http://fakeimg.pl/400x100?text=3&font=lobster" alt="lobster">
            </div>
        </div>
    </header>

<body>
    <div class="container">
          <div class="row">
              <div class="row">
  <div class="col-sm-4">
      <div  class="form-group">
                     <label for="">Введите Страну:</label>
                    <p> <input type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
                       class="form-control" name="" id="" aria-describedby="helpId" placeholder=""></p>
                        <p> <input type="text"
                           class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Имя*:"></p>
                                <p></p> <input type="number" name="phone" id="phone" class="form-control" placeholder="Телефон*:" aria-describedby="helpId"></p>
                         </form>
                         <p> <input type="email"
                            class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="E-mail:"></p>
                                                         <p><label for="comment">Отправить Заявку в Офис</label></p>
                                <textarea class="form-control" rows="5" id="comment">Киев, пр-т. Победы 25
М. Политехнический и-т
+38(050)240-18-18
+38(068)675-82-70
+38(073)031-89-85</textarea>
</div>
</div>
</p>
</div>
  <div class="col-sm-8"> <h1 style="color:orange">Cupidatat sunt magna officia fugiat magna labore.</h1>

<h2>Замечательное предложение от сети агентств «Поехали с нами» для тех, кто желает совместить лучший отдых и удобную оплату!</h2>

<p>Теперь каждый турист может выбрать для себя наилучший тур и отправиться в путешествие, оплатив при этом лишь часть его стоимости (от 1/10 до 1/2 стоимости). Остаток стоимости Вы сможете оплачивать равными частями в течение следующих месяцев, в зависимости от выбранного Вами пакета.</p>
<p>   Вам больше не придется собирать бесчисленное количество справок о доходах, сбережениях в банке, недвижимости, поручителях и прочих документов, а также ждать решения банка. <strong>Все, что Вам понадобится для получения рассрочки в «Поехали с нами» – это:</strong></p>
<ul>
    <li>копия паспорта </li>
    <li>копия идентификационного кода.</li>
</ul>

<p><strong>Кто может воспользоваться данным предложением?</strong></p>
<p>Абсолютно каждый турист, у которого нет проблемных задолженностей по кредитам в украинских банках.Больше нет никаких ограничений.</p>
<p><strong>Как приобрести тур в рассрочку?</strong></p>
<p>Договор на туробслуживание в рассрочку Вы можете оформить в любом, удобном для вас офисе «Поехали с нами» по Украине. Наши менеджеры с радостью подберут для вас наилучший тур и подготовят договор. Для этого нужно:

1) Заполнить Анкету туриста (менеджер предоставит ее Вам сразу же после подбора тура)

2) Подписать дополнительное соглашение об оплате тура равными частями при оформлении договора на туробслуживание.

3) Оплатить первую часть стоимости тура (в зависимости от выбранного пакета)</p>


</div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script src="/javascripts/lib.js"></script>  
</body>

<footer>
</footer>
</html>     
