<div class="row">
    <div class="col-sm-12">Виртуальная реальность: выбери свой тур
</div>
</div>
<div class="row"><img src='http://lorempixel.com/1200/300/nature' alt='nature'/></div>
<div class="row">
    <div class="col-sm-12"><p>Технологии виртуальной реальности в скором времени произведут революцию в сфере туристических услуг.</p>
        <p>Если вы еще не знаете, куда именно вы хотите отправиться, устройства виртуальной реальности помогут определиться с выбором.</p>
        <p>Туристам предлагается осмотреть отель изнутри. Для этого используются специальное приложение на смартфоне и очки виртуальной реальности, надев которые вы сможете моментально перенестись в предполагаемое место будущего отдыха, оглядеться и решить, устраивают ли вас такие условия.</p>
        <p>Еще до покупки тура вы сможете «побродить» по номеру отеля, пляжу, территории, осмотреть достопримечательности региона, «полетать» на воздушном шаре или «выйти в море» на яхте.</p>
    </div>
</div>
<div class="row"> <form class="form" role="form" >
    <div class="form-group">
        <label for="name" class="col-sm-12 form-control-label">Список офисов "Поехали с нами", где можно совершить виртуальный тур</label>
        <input type="select" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
    </div>
</form> </div>
<div class="row"></div>