<div class="jumbotron">
<div class="row">
    <div class="col-sm-12" align="center" style="color:coral"> <h6>Виртуальная реальность: выбери свой тур</h6>
</div>
</div>
<div class="row"><img class="img-thumbnail fluide" src='http://lorempixel.com/1200/300/nature' alt='nature'/></div>
<div class="row">
    <div class="col-sm-12"><p>Технологии виртуальной реальности в скором времени произведут революцию в сфере туристических услуг.</p>
        <p>Если вы еще не знаете, куда именно вы хотите отправиться, устройства виртуальной реальности помогут определиться с выбором.</p>
        <p>Туристам предлагается осмотреть отель изнутри. Для этого используются специальное приложение на смартфоне и очки виртуальной реальности, надев которые вы сможете моментально перенестись в предполагаемое место будущего отдыха, оглядеться и решить, устраивают ли вас такие условия.</p>
        <p>Еще до покупки тура вы сможете «побродить» по номеру отеля, пляжу, территории, осмотреть достопримечательности региона, «полетать» на воздушном шаре или «выйти в море» на яхте.</p>
    </div>
</div>
<div class="row"> <form class="form" role="form" >
    <div class="form-group">
        <label for="city" class="col-sm-12 form-control-label" style="color:coral"> <h6>Список офисов "Поехали с нами", где можно совершить виртуальный тур</h6></label>
        <select class="form-control" id="city">
  <option>Киев</option>
  <option>Ирпень</option>
    <option>Харков</option>
    </select>
    </div>
</form> </div>
<div class="row"><div class="col-sm-6 ">
        <div class="card">
            <img class="card-img-top" src="http://loremflickr.com/318/180/city" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">ул. Ирпенская 62Б <br/>Метро Академгородок</h4>
                <p class="card-text"> Пн-Пт: 10:00 - 19:00 <br/>Сб: 10:00 - 15:00<br/>Вс: выходной</p>
                <a href="#" class="btn btn-primary">Отзыви</a>
                <a href="#" class="btn btn-primary">Показать на карте</a>
                <a href="#" class="btn btn-primary">Купить тур</a>
            </div>
        </div>        
    </div>
    <div class="col-sm-6 ">
        <div class="card">
            <img class="card-img-top" src="http://loremflickr.com/318/180/city1" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">ул. Бассейная, 23 <br/>Метро Пл. Льва Толстого</h4>
                <p class="card-text"> Пн-Пт: 10:00 - 19:00 <br/>Сб: 10:00 - 15:00<br/>Вс: выходной</p>
                <a href="#" class="btn btn-primary">Отзыви</a>
                <a href="#" class="btn btn-primary">Показать на карте</a>
                <a href="#" class="btn btn-primary">Купить тур</a>
            </div>
        </div>        
    </div>
    </div>
    </div>