/* CSS Styles */

#tour-form,
#email-form {
    background-color: orangered;
    padding: 10px;
}

#side-mail {
    margin: 10px 0px;
    max-width: auto;
    height: auto;
}

#white_text {
    color: white
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin: auto;
}

#btn-submit {
    padding-right: auto;
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

#btn-submit2 {
    padding-right: auto;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

#textarea {
    max-width: 100%;
    height: auto;
}

#h5-1,
#h1-1 {
    text-align: center;
    margin-top: 20px;
}

table1 {
    max-width: 100%;
    height: auto;
}

#body-banner {
    max-width: 100%;
    height: auto;
    padding-left: 50px
}

h5,
h1,
h6 {
    color: orangered;
    text-align: center;
}

#footer-head {
    color: blue;
    font-weight: bold;
}

footer {
    background-color: #F8F8F9;
    display: block;
    margin-top: 20px;
    border: 1px solid #CACACC;
}


/* Spech Rules */

@media Spech {
    #side-banners,
    #up-banners,
    #left-side,
    #body-banner,
    #buy-button {
        display: none;
    }
}


/* Font Rules */


/* @import url('https://fonts.googleapis.com/css?family=Lobster|Oswald|Rubik+Mono+One|Russo+One'); 
 Почему-то не работает.
 */


/* 
font-family: 'Oswald', sans-serif; // used
font-family: 'Lobster', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Russo One', sans-serif; // used
font-family: 'Oranienbaum', serif; // used
*/

#main-question {
    font-family: 'Oranienbaum', serif;
}

h5,
h1,
h6 {
    font-family: 'Russo One', sans-serif;
}

#footer-head {
    font-family: 'Oswald', sans-serif;
}